---
import Layout from "../layouts/Layout.astro";
import CenterContainer from "../components/centerContainer.astro";
import Footer from "../components/footer.astro";
import "../fonts.css";
---

<Layout title="communityGuidelines">
  <CenterContainer
    class="px-6 mt-[50px] md:mt-[80px] flex flex-col font-['NeueHaas'] tracking-0.7"
  >
    <h3 class="text-[26px] text-center font-medium">COMMUNITY GUIDELINES</h3>
    <div class="text-[14px] text-center mt-[12px] text-[#00000073] mb-[50px]">
      Last Updated: August 21, 2023
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      1. Safety and Civility
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      At the heart of our community lie physical and psychological safety, while
      civility forms the cornerstone for a thriving environment. Being civil
      doesn't necessitate universal agreement; rather, it's about acknowledging
      everyone's inherent dignity and engaging respectfully in actions, words,
      and tone.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Violent Behaviors and Criminal Activities
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Our commitment is to foster connections without seeding physical conflict.
      We understand that online content related to violence can lead to
      real-world harm. Thus, we prohibit any form of violent threats, incitement
      to violence, or promotion of criminal activities that might endanger
      people, animals, or property. In instances of specific, credible, and
      imminent threats to human life or severe physical injury, we report to
      relevant law enforcement authorities.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Hate Speech and Hateful Behaviors
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Our community thrives on diverse backgrounds, and these differences
      deserve respect rather than division. We strictly prohibit any form of
      hateful behavior, hate speech, or endorsement of ideologies targeting
      individuals or groups based on protected attributes such as race,
      ethnicity, religion, gender identity, and others listed below.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Violent and Hateful Organizations and Individuals
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Our platform doesn't tolerate entities propagating violence or hate. We
      actively prevent the presence of violent extremists, hate organizations,
      and individuals promoting such beliefs. Content discussing violent
      political organizations is allowed only under specific criteria, ensuring
      alignment with international legal frameworks without promoting violence.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Youth Exploitation and Abuse
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Tomo is a space for exploration and learning, ensuring a safe experience
      for young individuals during their developmental phase. We staunchly
      prohibit youth exploitation, including various forms of abuse, and report
      incidents to relevant authorities to ensure swift action and support for
      survivors.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Sexual Exploitation and Gender-Based Violence
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Maintaining a space that upholds gender equity and respects intimate
      privacy is crucial. We prohibit sexual exploitation and gender-based
      violence, supporting survivors and taking necessary actions against
      perpetrators.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">Human Exploitation</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Respecting individual dignity is paramount, and our platform does not
      condone any form of human exploitation, including trafficking and
      smuggling. We provide a space for survivors to share their stories and for
      migrants and refugees to document their journeys without exploitation.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Harassment and Bullying
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      While encouraging diverse viewpoints, we strictly forbid toxic behavior,
      ensuring an environment where voices can be shared without fear of
      degradation or bullying. Harassment, threats, and retaliatory actions are
      strictly prohibited.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      2. Mental and Behavioral Health
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      We deeply value the well-being of our community and strive to create a
      space that fosters happiness, enrichment, and a sense of belonging without
      negatively impacting anyone's physical or psychological health.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Suicide and Self-Harm
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      We aim for Tomo to be a platform where complex topics can be discussed in
      a supportive manner without posing a risk of harm. Therefore, we strictly
      prohibit displaying, endorsing, or sharing plans for suicide or self-harm.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Disordered Eating and Body Image
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      We aim to promote self-esteem and discourage negative social comparisons.
      Therefore, we prohibit displaying or endorsing disordered eating behaviors
      or dangerous weight loss methods.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Dangerous Activities and Challenges
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      While we encourage participation in fun trends, some activities pose a
      risk of severe injury. Hence, we prohibit showcasing or promoting
      dangerous activities, dares, games, or behaviors that may cause
      significant physical harm.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      3. Sensitive and Mature Themes
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Tomo offers content spanning from family-friendly to more mature,
      considering developmental and cultural differences globally. We respect
      local contexts and refrain from imposing one country's norms on another.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Sexual Activity and Services
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Tomo facilitates discussions on sexuality, sex, and reproductive health
      while being mindful of age appropriateness and potential exploitation. We
      prohibit sexual activity or services, encompassing sex, sexual arousal,
      fetish behavior, and seeking/offering sexual services—excluding
      reproductive health and sex education content.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Nudity and Body Exposure
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Respecting diverse body types, we aim to maintain comfort while adhering
      to prevailing cultural norms. We do not allow nudity, including uncovered
      genitals, buttocks, nipples, or areolas, with exceptions for specific
      situations like medical treatment, education, or culturally accepted
      practices.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Sexually Suggestive Content
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Performances and dances expressing creativity or cultural celebration are
      encouraged, with restrictions on sexually suggestive behaviors that may be
      offensive or pose risks, particularly to young people. Seductive
      performances or explicit sexual references by young individuals are not
      permitted. Some artistic content with sexual references, like song lyrics,
      is allowed.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Shocking and Graphic Content
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      While Tomo thrives on diverse content, intentional attempts to shock,
      upset, or disgust others are prohibited. Content featuring extreme
      violence, gore, or disturbing material is not allowed. Certain content,
      like human or animal blood, is age-restricted.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">Animal Abuse</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Our platform values and respects animals across cultures and regions,
      prohibiting any form of animal abuse, cruelty, neglect, trade, or
      exploitation.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      4. Integrity and Authenticity
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      At Tomo, ensuring access to reliable information, original content, and
      authentic interactions is pivotal for fostering a trustworthy and
      accountable community, both on and off the platform.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">Misinformation</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      We strive for a shared understanding based on factual information.
      Misleading or false content causing significant harm—be it physical,
      psychological, societal, or property-related—is strictly prohibited,
      regardless of intent. We utilize independent fact-checking partners and
      previous fact-checked claims to verify content accuracy.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Civic and Election Integrity
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Maintaining an open dialogue during elections is vital. Tomo does not
      permit paid political promotion, advertising, or fundraising by
      politicians or parties. Misinformation about civic and electoral processes
      is not allowed, including false claims about voting procedures, candidate
      eligibility, ballot counting, and election outcomes.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Synthetic and Manipulated Media
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      While embracing technological advancements, clear disclosure is required
      for synthetic or manipulated media depicting realistic scenes. Protection
      against abuse of public figures and prevention of deceptive content
      related to political or financial matters are priorities. Misleading
      synthetic media or endorsements by public figures are prohibited.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">Fake Engagement</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      We uphold the importance of authentic engagement and oppose attempts to
      artificially inflate engagement metrics or deceive Tomo's recommendation
      system.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Unoriginal Content and QR Codes
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Tomo encourages originality, respecting intellectual property rights.
      Content violating these rights will be removed. Unoriginal or reproduced
      content lacking creative alterations or containing QR codes is ineligible
      for certain features.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Spam and Deceptive Account Behaviors
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Authenticity is crucial, and we prohibit behaviors that mislead or spam
      the community. Covert influence operations, spam, impersonation, and
      deceptive multiple account usage are strictly forbidden.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      5. Regulated Goods and Commercial Activities
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      At Tomo, we prioritize providing information that supports informed
      decisions while mitigating risks associated with certain goods or
      activities. We moderate content involving goods or activities that may
      pose risks, such as being addictive, hazardous, fraudulent, or requiring
      heightened caution.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">Gambling</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      While games of chance offer entertainment, the potential for serious
      financial loss or addiction is acknowledged. Hence, we prohibit the
      promotion of gambling services.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Alcohol, Tobacco, and Drugs
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Personal choices regarding alcohol, drugs, and tobacco are respected, yet
      we do not permit showcasing or promoting recreational drug use or trading
      these substances. Additionally, content depicting young individuals
      possessing or consuming these substances is prohibited.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Firearms and Dangerous Weapons
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      The educational content on responsible weapon use is allowed, but we
      strictly forbid the trade or promotion of firearms or explosive weapons in
      unsafe contexts.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Trade of Regulated Goods and Services
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Regulated goods and services play significant roles but are not suitable
      for illicit trade or unofficial markets. Facilitating the trade of
      regulated, prohibited, or high-risk goods like firearms, substances, and
      counterfeit items is prohibited.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Commercial Disclosures and Paid Promotion
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Authenticity is vital, especially regarding goods or services discussed on
      Tomo. Creators promoting goods in return for value must disclose this
      using our branded content tool or in captions. Paid political promotion is
      strictly prohibited.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">Frauds and Scams</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Tomo aims to provide a safe platform for learning about responsible
      financial practices without concerns about scams or exploitation.
      Therefore, attempts to defraud or scam our community members are not
      tolerated.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      6. Privacy and Security
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      At Tomo, safeguarding your privacy rights and maintaining platform
      security are fundamental in earning and upholding your trust and safety.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Personal Information
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Recognizing the wide-reaching nature of online content, we are dedicated
      to preventing any intentional or accidental sharing of personal
      information that may lead to stalking, violence, phishing, fraud, identity
      theft, or financial exploitation. Content containing such personal
      details, whether self-posted or shared with consent, is not allowed on
      Tomo.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      If you encounter a privacy violation, you can report it through our
      platform.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">Platform Security</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Tomo is committed to protecting both individuals and information.
      Unauthorized access to any part of the platform, attempts to acquire
      sensitive, confidential, commercial, or personal information, and any
      actions compromising the security, integrity, or reliability of our
      platform are strictly prohibited.
    </div>
  </CenterContainer>
  <Footer />
</Layout>
