---
import Container from "../components/container.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar/navbar.astro";
import Hero from "../components/hero.astro";
import Footer from "../components/footer.astro";
import ERCLaunchpad from "../components/ERCLaunchpad.astro";

import "../fonts.css";
import Homepage from "../components/homepage.astro";
import AboutTomo from "../components/aboutTomo.astro";
import TomoVisionPro from "../components/tomoVisionPro.astro";
import Investors from "../components/investors.astro";
import TomoWallet from "../components/tomoWallet.astro";
import SocialMarket from "../components/socialMarket.astro";
import TomoId from "../components/tomoId.astro";
import Points from "../components/points.astro";
import { TestPage } from "./test";
---

<Layout title="Tomo: All-in-one Social Wallet">
  <div class="back-style sm:!bg-cover bg-no-repeat">
    <Navbar />

    <Container class="flex flex-col bg-background">
      <!-- <Hero /> -->
      <Homepage />
      <AboutTomo />
      <ERCLaunchpad />
      <Investors />
      <TomoWallet />
      <SocialMarket />
      <TomoId />
      <!-- <TomoVisionPro /> -->
      <Points />
      <Footer />
    </Container>
  </div>
</Layout>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({ duration: 1000 });
</script>

<script>
  const currentURL = window.location.href;
  const hashIndex = currentURL.indexOf("#");
  const cleanURL =
    hashIndex !== -1 ? currentURL.substring(0, hashIndex) : currentURL;

  const queryIndex = cleanURL.indexOf("?");
  const queryString =
    queryIndex !== -1 ? cleanURL.substring(queryIndex + 1) : "";

  if (queryString) {
    const urlParams = new URLSearchParams(queryString);
    let codeParam = null;
    let stateParam = null;

    urlParams.forEach((value, key) => {
      if (key.toLowerCase() === "code") {
        codeParam = value;
      }
      if (key.toLowerCase() === "state") {
        stateParam = value;
      }
    });

    if (codeParam && stateParam === "tomo_x_facebook") {
      const newURL = `tomo://tomo.inc/?code=${codeParam}&state=${stateParam}`;
      window.location.replace(newURL);
    }
  }
</script>

<style>
  .back-style {
    background-position:
      0 0,
      100% 100%;
    background-size: 100%, 100%;
  }
</style>
