---
import Container from "../components/container.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar/navbar.astro";
import Hero from "../components/hero.astro";
import Footer from "../components/footer.astro";

import "../fonts.css";
---

<Layout title="Tomo - Next Gen Social Platform">
  <div class="back-style sm:!bg-cover sm:bg-bgDesktop bg-bgMobile bg-no-repeat">
    <Navbar />
    <Container class="flex flex-col">
      <Hero />
      <Footer />
    </Container>
  </div>
</Layout>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({ duration: 1000 });
</script>

<style>
  .back-style {
    background-position: 0 0, 100% 100%;
    background-size: 100%, 100%;
  }
</style>
