---
import Layout from "../layouts/Layout.astro";
import CenterContainer from "../components/centerContainer.astro";
import Footer from "../components/footer.astro";
import "../fonts.css";
---

<Layout title="privacy">
  <CenterContainer
    class="px-6 mt-[50px] md:mt-[80px] flex flex-col font-['NeueHaas'] tracking-0.7"
  >
    <h3 class="text-[26px] text-center font-medium">Tomo Privacy Policy</h3>
    <div class="text-[14px] text-center mt-[12px] text-[#00000073] mb-[50px]">
      Last Updated: July 24, 2024
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">Privacy Policy</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Tomo recognizes that people who use Tomo value their privacy. This privacy policy (" Policy ") describes how we , collect, use, share, and store personal information of the users of our websites (the "Site") and our mobile applications, including but not limied to Tomo and any other application of ours that references or links to this policy, (the "App") . This policy applies to the Site, App, products and services (collectively, "Services").  By using the Services, you accept the terms of this Policy and our Terms and Conditions, and consent to the collection, use, disclosure, and retention of your information as described herein. Please review the Terms and Conditions if you haven’t done so already.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Please note that this Policy does not apply to information collected through third-party websites or services that you may access through the Services or that you submit to us through e-mail, text, message, or other electronic message or offline.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">1. WHAT WE COLLECT</div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      1.1 Information you give us which includes:
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      · Network information regarding transactions
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      · Usage information, such as information about how you use the Service and interact with us
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      · We may use cookies or similar technologies to analyze trends, administer the website, track users’ movements around the website, and to gather demographic information about our user base as a whole. Users can control the use of cookies at the individual browser level. For more information, please see the section entitled “Cookies Policy” below.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      · We may automatically collect any anonymous information on Site usages (also known as “Log Data”) which includes: the pages or features of our site with which the Site is used by a user, search terms, the links on our Site that a user clicked or used, and other statistics. We use this information to administer the Service and we analyze (and may engage third parties to analyze) this information to improve and enhance the Service by expanding its features and functionality and tailoring to our users’ needs and preferences.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      · Personal Information including name, email address, and other contact information you provide.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      1.2 Information we get from third party sources which includes:
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      · Social Media Widgets: Our site may include social media features such as a “share this button” with Facebook, Twitter, or other social networks. These social media features are either hosted by a third party.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      · We may also use Google Analytics to help us offer you an optimized user experience.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      2. INFORMATION WE WILL NEVER COLLECT
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      We will never ask you to share your private keys or wallet seed. Never trust anyone or any site that asks you to enter your private keys or wallet seed.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      3. SHARING AND DISCLOSURE
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Tomo will not release Personal Information to third parties except under the the following conditions:
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      3.1. Law enforcement officials, governmental agencies, or other legal authorities in response to their request under court order or as required by law, to establish our compliance with applicable laws, rules, regulations, or guidelines, or to establish, protect, or exercise our legal rights or defend against legal claims or demands
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      3.2. Any other person whom you authorize the disclosure pursuant to your usage of the Applications
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      4. USE OF PERSONAL INFORMATION
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      We will use your personal information in the following ways:
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      4.1 To enable you to access and use the Services
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      4.2 To provide and deliver products and services that you may request.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      4.3 To improve the Services and Platform for Tomo Users
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      5. TRACKING TECHNOLOGIES
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Regular cookies may be generally disabled or removed by tools available as part of most commercial browsers, and in some instances, blocked in the future by selecting certain settings. Please check your browser’s document for more details.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">6. COOKIES</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Cookies are small text files that are placed on your computer's hard drive by your web browser when you visit any website. They allow information gathered on one web page to be stored until it is needed for use on another, allowing a website to provide you with a personalized experience and the website owner with statistics about how you use the website so that it can be improved.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Some cookies may last for a defined period of time, such as one day or until you close your browser. Others last indefinitely. Your web browser should allow you to delete any you choose. It also should allow you to prevent or limit their use.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Our website uses cookies. They are placed by software that operates on our servers, and by software operated by third parties whose services we use. When you first visit our website, we ask you whether you wish us to use cookies. If you choose not to accept them, we shall not use them for your visit except to record that you have not consented to their use for any other purpose.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      We use cookies in the following ways:
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      · to track how you use our website
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      · to record whether you have seen specific messages we display on our website
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      · to record your answers to surveys and questionnaires on our site while you complete them where applicable
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      It requires the operator of a network server to provide the source code of the modified version running there to the users of that server. Therefore, public use of a modified version, on a publicly accessible server, gives the public access to the source code of the modified version.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      7. SENDING A MESSAGE TO OUR SUPPORT TEAM
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      When you contact us, whether through our website or social media group, we collect the data you have given to us in order to reply with the information you need. We record your request and our reply in order to increase the efficiency of our business. We do not keep any personally identifiable information associated with your message, such as your name or email address.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">8. SECURITY</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      We retain information we collect as long as it is necessary and relevant to fulfill the purposes outlined in this privacy policy. In addition, we retain personal information to comply with applicable law where required, prevent fraud, resolve disputes, troubleshoot problems, assist with any investigation, enforce our Terms of Use and other actions permitted by law. To determine the appropriate retention period for personal information, we consider the amount, nature, and sensitivity of the personal information, the purposes risk of harm from unauthorized use or disclosure of your personal information, the purposes for which we process your personal information and whether we can achieve those purposes through other means, and the applicable legal requirements.In some circumstances, we may anonymize your personal information (so that it can no longer be associated with you) in which case we may use this information indefinitely without further notice to you.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      We employ industry standard security measures designed to protect the security of all information submitted through the Services. However, the security of information transmitted through the internet can never be guaranteed. We are not responsible for any interception or interruption of any communications through the internet or for changes or losses of data. Users of the Services are responsible for maintaining security of any password, biometrics, user ID or other form of authentication involved in obtaining access to password protected or secure areas of any of our digital services. In order to protect you and your data, we may suspend your use of any of the Services, without nice, pending an investigation, if any breach of security is suspected.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      9. COMPLIANCE WITH THE LAW
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Our privacy policy has been compiled so as to comply with the law of every country or legal jurisdiction in which we aim to do business. If you think it fails to satisfy the law of your jurisdiction, we would like to hear from you. However, ultimately it is your choice as to whether you wish to use our Service.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      10. CHANGES TO THIS PRIVACY POLICY
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      We may change this privacy policy at any time. We encourage you to periodically review this page for the latest information on our privacy practices. If we make any changes, we will notify all users and change the Last Updated date above.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Any modifications to this Privacy Policy will be effective upon our posting of the new teams and/or upon implementations of the changes to the Site (or as otherwise indicated) Your continued use.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      11. LIMITATION OF LIABILITY
    </div>
    <div
      class="my-2 text-[16px] font-normal font-['NeueHaas'] mb-[50px] "
    >
      You understand and agree that any dispute over privacy is subject to this privacy policy, as well as the Terms and Conditions.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold'] md:mb-[80px]">
      ©2024 Tomo Inc. All rights reserved.
    </div>
  </CenterContainer>
  <Footer />
</Layout>
