---
import Layout from "../layouts/Layout.astro";
import CenterContainer from "../components/centerContainer.astro";
import Footer from "../components/footer.astro";
import "../fonts.css";
---

<script>
  document
    .getElementById("tomoLink")
    .setAttribute("href", `${location.origin}/terms`);
  document.getElementById("tomoLink").innerHTML = `${location.origin}/terms`;
</script>
<Layout title="terms">
  <CenterContainer
    class="px-6 mt-[50px] md:mt-[80px] flex flex-col font-['NeueHaas'] tracking-0.7"
  >
    <h3 class="text-[26px] text-center font-medium">TERMS OF USE</h3>
    <div class="text-[14px] text-center mt-[12px] text-[#00000073] mb-[50px]">
      Last Updated: July 24, 2024
    </div>

    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Welcome to Tomo! We are the creators of the Tomo mobile and desktop-based apps (collectively, the “App”) and provide cloud-based services to access and communicate through the Tomo protocol. We’re glad you’re here to read these Terms of Use. If you have any questions about any of this, you can contact us at: contact@tomo.inc, and we’ll do our best to help.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      Our website and the App are owned and provided by Tomo, Inc. In these Terms of Use, we’ll refer to the company as “Tomo”. And when we say “we,” “us,” or “our,” that’s also referring to the company. We encourage you to read these Terms of Use (the “Terms”) and our Privacy Policy carefully because they - along with other posted policies, rules, and guidelines - govern your use of and interaction with our website (www.tomo.inc) (the “Site”), the App, the other features and software and technologies we provide, and our communications with you. To make these Terms easier to read, we use the word “Services” here to collectively describe and encompass our Site, the App, the other features and software and technologies we provide, and our communications with you.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      These Terms govern your access to and use of our Services, whether as a guest, Site visitor, or registered user, as applicable, including account holders and non-account holders (each a “User,” collectively “Users”). By using the Services, you acknowledge that you have read and understood these Terms and you accept and agree to be bound and abide by these Terms. If you do not agree with any part of the Terms, you must not use the Services.
    </div>
    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Community Guidelines
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas'] leading-6">
      By agreeing to these Terms of Service, you are agreeing to the Community Guidelines. These include: zero tolerance for abusive users or harassment of others, zero tolerance for hate speech, no posting illegal content, no incitement to violence, no spam, no misleading impersonation, and users should respect intellectual property.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Important Notice Regarding Arbitration
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      PLEASE READ THESE TERMS OF USE CAREFULLY, AS THEY CONTAIN AN AGREEMENT TO ARBITRATE AND OTHER IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES, AND OBLIGATIONS. THE AGREEMENT TO ARBITRATE REQUIRES (WITH LIMITED EXCEPTION) THAT YOU SUBMIT CLAIMS YOU HAVE AGAINST US TO BINDING AND FINAL ARBITRATION, AND FURTHER THAT: (1) YOU WILL ONLY BE PERMITTED TO PURSUE CLAIMS AGAINST TOMO ON AN INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY CLASS OR REPRESENTATIVE ACTION OR PROCEEDING, (2) YOU WILL ONLY BE PERMITTED TO SEEK RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ON AN INDIVIDUAL BASIS, AND (3) YOU MAY NOT BE ABLE TO HAVE ANY CLAIMS YOU HAVE AGAINST US RESOLVED BY A JURY OR IN A COURT OF LAW.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">Changes to Terms and Services</div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Our Services are evolving, and hence we may update them and the Terms from time to time. If we modify the Terms, we’ll let you know either by posting the updated Terms within the Services or through other communications. It’s important that you review the Terms whenever we update them or when you use the Services. If you continue to use the Services after we have posted updated Terms, you are agreeing to be bound by the updated Terms. If you don’t agree to be bound by the updated Terms, then you may not use the Services anymore and you are prohibited from doing so. We may, at our sole discretion, change or discontinue all or any part of the offerings we provide via our Services, at any time and without notice.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      You acknowledge that Tomo may establish general practices and limits concerning the use of the Services, including the maximum period of time that data or other content will be retained by the Services and the maximum storage space that will be allotted on Tomo’s or its third-party service providers’ servers on your behalf. You agree that Tomo has no responsibility or liability for the deletion or failure to store any data or other content maintained or uploaded by the Services. You acknowledge that Tomo reserves the right to terminate Accounts (as defined below) that are inactive for an extended period of time. You further acknowledge that Tomo reserves the right to change these general practices and limits at any time, in its sole discretion, with or without notice.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Accessing the Services
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      You are responsible for obtaining the data network access necessary to use the Services. Your mobile network's data and messaging rates and fees may apply if you access or use the Services from your device. You are responsible for acquiring and updating compatible hardware or devices necessary to access and use the Services and any updates thereto. Tomo does not guarantee that the Services, or any portion thereof, will function on any particular hardware or devices. In addition, the Services may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications. Tomo reserves the right to modify, revise, or remove the Services we provide, including the Site and App, at Tomo’s sole discretion without notice. Tomo may restrict access to some parts of the Services. Tomo will not be liable for any outages to the Services that may occur, for whatever reason.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Who May Use the Services?
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      You may use the Services only if (1) you are 18 years or older (or the legal age of majority in your jurisdiction) or are between 13 years and 17 years old and your parent or legal guardian must agree to be bound by these Terms and (2) capable of forming a binding contract with Tomo, and are not barred from using the Services under applicable law. If you want to use certain features of the Services, you’ll have to create an account (“Account”). It’s important that you provide us with accurate, complete, and up-to-date information for your Account and you agree to update such information to keep it accurate, complete, and up-to-date. If you don’t, we reserve the right to suspend or terminate your Account. You agree that you won’t disclose your Account login credentials to anyone and you’ll notify us immediately of any unauthorized use of your Account. You’re responsible for all activities that occur under your Account, whether or not you know about them.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Tomo reserves the right to disable any account, username, password, functionality, or content at any time, in our sole discretion for any or no reason, including if, in our opinion, there has been a violation of any provision of these Terms or other posted policies, guidelines, or rules.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Feedback
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      We welcome feedback, comments, and suggestions for improvements to the Services (“Feedback”). You can submit Feedback by emailing us at contact@tomo.inc. You hereby grant to us a non-exclusive, transferable, worldwide, perpetual, irrevocable, sub-licensable (through multiple tiers), fully-paid, royalty-free license to use, copy, modify, create derivative works based upon, and otherwise exploit for any purpose the Feedback you provide us.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Content Ownership, Responsibility, and Removal
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Definitions: For purposes of these Terms: (i) “Content” means text, graphics, images, music, software, audio, video, works of authorship of any kind, and information or other materials that are posted, generated, provided, or otherwise made available through the Services; and (ii) “User Content” means any Content that Users (including you) provide to be made available through the Services including without limitation, any reviews, ratings, and comments you provide. For clarity, Content includes without limitation User Content.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Our Content Ownership: Tomo does not claim any ownership rights in any User Content and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit your User Content. Subject to the foregoing, as between you and Tomo, Tomo is the sole owner of and will retain ownership of all right, title, and interest in the Services and Content, including all underlying software, algorithms, interfaces, technology, databases, tools, know-how, processes and methods used to provide or deliver the Services, documentation, aggregate data related to the Services, all improvements, modifications, or enhancements to (or derivative works of) the foregoing (regardless of inventorship or authorship), and all Intellectual Property Rights in and to any of the foregoing. You acknowledge that the Services and Content are protected by copyright, trademark, and other laws of the United States and foreign countries. You agree not to remove, alter, or obscure any copyright, trademark, service mark, or other proprietary rights notices incorporated in or accompanying the Services or Content.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Rights in User Content Granted by You: By making any User Content available through the Services you hereby grant to Tomo a perpetual, irrevocable, non-exclusive, transferable, worldwide, royalty-free, fully paid license, with the right to sublicense (through multiple tiers), to use, copy, modify, create derivative works based upon, distribute, publicly display, and publicly perform your User Content in connection with operating and providing the Services.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Your Responsibility for User Content: You are solely responsible for all your User Content. You represent and warrant that: (i) you own all your User Content or you have all rights that are necessary to grant us the license rights in your User Content under these Terms, and (ii) neither your User Content, nor your use and provision of your User Content to be made available through the Services, nor any use of your User Content by Tomo on or through the Services will infringe, misappropriate, or violate a third party’s intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Rights in Content Granted by Tomo: Subject to your compliance with these Terms, Tomo grants you a limited, non-exclusive, non-transferable license, with no right to sublicense, to download, view, copy, display, and print the Content solely in connection with your permitted use of the Services and solely for your personal and non-commercial purposes.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      Third-Party Content: Under no circumstances will Tomo be liable in any way for any content or materials of any third parties (including Users), including for any errors or omissions in any Content, or for any loss or damage of any kind incurred as a result of the use of any such Content. You acknowledge that Tomo does not pre-screen Content, but that Tomo and its designees will have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Services. Without limiting the foregoing, Tomo and its designees will have the right to remove any Content that violates these Terms or is deemed by Tomo, in its sole discretion, to be otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Your Representations and Warranties
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      By using the Services, you expressly represent and warrant that your use of the Services is solely for your personal use. When using the Services, you agree to comply with all applicable laws. By using the Services, you agree, represent, and warrant that:
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - You are eligible to use the Services, based on the requirements outlined in the section entitled “Who May Use the Services.”
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - You will only use the Services for lawful purposes, using only authorized means; you will not use the Services for sending or storing any unlawful material or communications or for deceptive or fraudulent purposes.    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - You will not use the Services, or any Content accessible through the Services, for any commercial purpose, including but not limited to competing with Tomo services.    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - You will not create or compile, directly or indirectly, any collection, compilation, or other directory from the Content displayed through the Services except for your personal, noncommercial use.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - You will keep secure and confidential your account password or any identification credentials we provide you which allows access to the Services.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - You will only use the Services for your own use and will not resell the Services to a third party.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - You will not conduct any systematic retrieval of data or other Content from the Services, and you will not copy any Content displayed through the Services for republication in any format or media.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      General Prohibitions and Enforcement Rights
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      You agree not to do any of the following:
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - use, display, mirror, or frame the Services or any individual element within the Services, Tomo’s name, any Tomo trademark, logo, or other proprietary information, or the layout and design of any page or form contained on a page, without Tomo’s express written consent;    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - use the Services in any manner that violates federal, state, local, or international law or regulation, including, without limitation, any laws regarding the export of data or software to and from the US or other countries;
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - access, tamper with, or use non-public areas of the Services, Tomo’s computer systems, or the technical delivery systems of Tomo’s providers;
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - impersonate or attempt to impersonate Tomo, a Tomo employee, contractor or agent, another User, or any other person or entity;
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - attempt to probe, scan or test the vulnerability of any Tomo system or network or breach any security or authentication measures;
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Tomo or any of Tomo’s providers or any other third party (including another User) to protect the Services;
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - use any robot, spider, or other automatic device, process, or means to access the Services for any purpose, including monitoring or copying any material on the Services;
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - attempt to gain unauthorized access to, damage, disrupt, or interfere with any parts of the Services, or any server, computer or database connected to the Services;
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - attempt to decipher, decompile, disassemble or reverse engineer the Services (including the App) or any of the software used to operate the Services;
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - collect or store any personally identifiable information from the Services; and/or
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      - encourage or enable any other individual to do any of the foregoing.
    </div>

    <div class="text-[16px] my-2 font-['NeueHaasBold']">
      Electronic Signatures
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      TFor some activities related to the Services, Tomo may permit you to use a device equipped with an active connection to an internet service provider to access your Tomo accounts and policies, and to perform certain transactions as available. To facilitate this, you may be given the option to sign, consent to, or agree to certain documents including, but not limited to, these Terms, policies, quotes, updates, notifications, or other information that you request, transaction receipts, documents requiring your signature, or any other documents (“Communications”) electronically by either checking the appropriate box or engaging in a similar online process as instructed online. You agree that by checking the appropriate box within or adjacent to the applicable Communication or engaging in a similar online electronic consent process, you are providing your electronic signature and agree to be bound by the terms and provisions in such Communication just as if you had signed your name to a paper document.
    </div>

    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Disclaimers</b> The following disclaimers are made on behalf of Tomo, our affiliates, subsidiaries, parents, successors and assigns, and each of our respective officers, directors, employees, agents, and shareholders. THE SERVICES ARE PROVIDED ON AN “AS IS” BASIS AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. WE DO NOT GUARANTEE AND DO NOT PROMISE ANY SPECIFIC RESULTS FROM USE OF THE SERVICES. TO THE FULLEST EXTENT PERMITTED BY LAW, WE SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. WE DO NOT WARRANT THAT YOUR USE OF THE SERVICES WILL BE ACCURATE, COMPLETE, RELIABLE, CURRENT, SECURE, UNINTERRUPTED, ALWAYS AVAILABLE, OR ERROR-FREE, OR WILL MEET YOUR REQUIREMENTS, THAT ANY DEFECTS IN THE SERVICES WILL BE CORRECTED, OR THAT THE SERVICES IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. WE DISCLAIM LIABILITY FOR, AND NO WARRANTY IS MADE WITH RESPECT TO, CONNECTIVITY AND AVAILABILITY OF THE SERVICES. WE ARE NOT RESPONSIBLE FOR ANY RESULTS OR ADVICE PROVIDED VIA THE SERVICES, AND DISCLAIM ALL LIABILITY WITH RESPECT THERETO.
    </div>

    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Indemnity</b> To the extent permitted by law, you agree to indemnify, protect and hold Tomo and its parents, subsidiaries, affiliates, and assigns, and their respective officers, directors, employees, agents, representatives and service providers harmless from any and all claims, demands, damages, suits, losses, liabilities and causes of action (including without limitation, the cost of defense, attorneys' fees, as well as the payment of any final judgment rendered against or settlement agreed upon by Tomo or its parent, subsidiary and/or affiliated companies) arising directly or indirectly from, as a result of, or in connection with: (i) your User Content; (ii) your failure to comply with any of these Terms; (iii) your violation of any applicable laws, rules, or regulations related to your use of the Services; and (iv) your use of the Services. Tomo reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Tomo in asserting any available defenses. Tomo will provide notice to you of any such claim, suit, or proceeding. Tomo reserves the right to assume the exclusive defense and control of any matter which is subject to indemnification under this section, and you agree to cooperate with any reasonable requests assisting Tomo’s defense of such matter. You may not settle or compromise any claim against the indemnified parties without Tomo’s written consent. If you are a California resident, you waive California Civil Code Section 1542, which says: “A general release does not extend to claims that the creditor or releasing party does not know or suspect to exist in his or her favor at the time of executing the release and that, if known by him or her, would have materially affected his or her settlement with the debtor or releasing party.” If you are a resident of another jurisdiction, you waive any comparable statute or doctrine.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Limitation</b> of Liability NEITHER TOMO NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICES WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, OR DAMAGES FOR LOST PROFITS, LOST REVENUES, LOST SAVINGS, LOST BUSINESS OPPORTUNITY, LOSS OF DATA OR GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE SERVICES OF ANY KIND ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM YOUR USE OF, OR INABILITY TO USE, THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT TOMO OR ANY OTHER PARTY HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN NO EVENT WILL TOMO’S TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES EXCEED ONE HUNDRED US DOLLARS ($100). THE EXCLUSIONS AND LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN TOMO AND YOU.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      IF YOU ARE A USER FROM NEW JERSEY, THE FOREGOING SECTIONS TITLED “DISCLAIMERS”, “INDEMNITY” AND “LIMITATION OF LIABILITY” ARE INTENDED TO BE ONLY AS BROAD AS IS PERMITTED UNDER THE LAWS OF THE STATE OF NEW JERSEY. IF ANY PORTION OF THESE SECTIONS IS HELD TO BE INVALID UNDER THE LAWS OF THE STATE OF NEW JERSEY, THE INVALIDITY OF SUCH PORTION WILL NOT AFFECT THE VALIDITY OF THE REMAINING PORTIONS OF THE APPLICABLE SECTIONS.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Jurisdictional Issues</b> Tomo makes no representation that the Services are appropriate or available for use in your jurisdiction. If you choose to access the Services, you do so on your own initiative and are responsible for compliance with any applicable local, state, and federal laws, rules, and regulations.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Reliance on Information Posted</b> The information presented throughout the Services is made available for general information purposes only. Tomo does not warrant the accuracy, completeness, or usefulness of the information. Any reliance you place on such information is at your own risk. We disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to, or User of, the Services, or by anyone who may be informed of any of its contents.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">User Disputes</b> You agree that you are solely responsible for your interactions with any other user in connection with the Service, and Tomo will have no liability or responsibility with respect thereto. Tomo reserves the right, but has no obligation, to become involved in any way with disputes between you and any other user of the Service.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Links to Third-Party Websites or Resources</b> The Services may contain links to third-party websites or resources. We provide these links only as a convenience and are not responsible for the content, products, or services on or available from those websites or resources or links displayed on such websites. You acknowledge sole responsibility for and assume all risk arising from your use of any third-party websites or resources.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Termination</b> You agree that Tomo, in its sole discretion, may suspend or terminate your account (or any part thereof) or use of the Service and remove and discard any content within the Service, for any reason, including for lack of use or if Tomo believes that you have violated or acted inconsistently with the letter or spirit of these Terms of Use. Any suspected fraudulent, abusive, or illegal activity that may be grounds for termination of your use of the Service may be referred to appropriate law enforcement authorities. Tomo may also in its sole discretion and at any time discontinue providing the Service, or any part thereof, with or without notice. You agree that any termination of your access to the Service under any provision of these Terms of Use may be effected without prior notice and acknowledge and agree that Tomo may immediately deactivate or delete your account and all related information and files in your account and/or bar any further access to such files or the Service. Further, you agree that Tomo will not be liable to you or any third party for any termination of your access to the Service.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Notices</b> Any notices or other communications provided by Tomo under these Terms, including those regarding modifications to these Terms, will be given: (i) via email; or (ii) by posting to the Services. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Waiver of Rights</b> Tomo’s failure to enforce any right or provision of these Terms will not be considered a waiver of such right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Tomo. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Entire Terms</b> Except as otherwise stated herein or otherwise amended and agreed to by you and Tomo, these Terms constitute the entire and exclusive understanding and agreement between Tomo and you regarding your use of the Services, and these Terms supersede and replace any and all prior oral or written understandings or agreements between Tomo and you regarding the use of the Services. If any provision of these Terms is held invalid or unenforceable by an arbitrator or a court of competent jurisdiction, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect - except as otherwise described in Dispute Resolution by Binding Arbitration section. You may not assign or transfer these Terms, by operation of law or otherwise, without Tomo’s prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will have no legal effect. Tomo may freely assign or transfer these Terms without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors, and permitted assigns.
    </div>
    <div class="my-2 text-[16px] font-normal font-['NeueHaas']">
      <b class="font-bold font-['NeueHaasBold']">Contact Us</b> If you have any questions about these Terms or the Services, please contact us at: <a href="mailto:contact@tomo.inc">contact@tomo.inc</a>.
    </div>

  </CenterContainer>
  <Footer />
</Layout>
