---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { ConnectMenu } from "../react/connect";

const menuitems = [
  {
    title: "Telegram Bot",
    id: "about-mobile-button",
  },
  {
    title: "Tomo App",
    id: "investors-mobile-button",
  },
  {
    title: "Extension",
    id: "tomoji-mobile-button",
  },
  {
    title: "SDK Solutions",
    id: "wallet-mobile-button",
  },
  {
    title: "Names Behind",
    id: "names-behind-mobile-button",
  },
];
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener("scroll", function () {
      var height = document.querySelector(".first-container").clientHeight;
      var scrollTop = window.scrollY || document.documentElement.scrollTop;

      var navContainer = document.querySelector(".nav-container");

      if (scrollTop >= height - 60) {
        navContainer.classList.add(
          "bg-background",
          "mdl:bg-background",
          "backdrop-blur-sm",
          "drop-shadow-lg"
        );
      } else {
        navContainer.classList.remove(
          "bg-background",
          "mdl:bg-background",
          "backdrop-blur-sm",
          "drop-shadow-lg"
        );
      }
    });
  });

  const scrollTo = (param) => {
    let anchorElement = document.getElementById(param);
    if (anchorElement) {
      anchorElement.scrollIntoView({ behavior: "smooth" });
    }
    // document.getElementById("menu-items").classList.toggle("hidden");
    var event = new MouseEvent("click", {
      view: window,
      bubbles: true,
      cancelable: true,
    });
    document.getElementById("asd").children[0].dispatchEvent(event);
  };

  const aboutButton = document.getElementById("about-button");

  aboutButton.addEventListener("click", () => scrollTo("about-page"));

  const aboutMobileButton = document.getElementById("about-mobile-button");

  aboutMobileButton.addEventListener("click", () => scrollTo("about-page"));

  const investorsMobileButton = document.getElementById(
    "investors-mobile-button"
  );

  investorsMobileButton.addEventListener("click", () => scrollTo("tomo-app"));

  const investorsButton = document.getElementById("investors-button");

  investorsButton.addEventListener("click", () => scrollTo("tomo-app"));

  const tomojiButton = document.getElementById("tomoji-button");

  tomojiButton.addEventListener("click", () => scrollTo("extension-page"));

  const tomojiMobileButton = document.getElementById("tomoji-mobile-button");

  tomojiMobileButton.addEventListener("click", () =>
    scrollTo("extension-page")
  );

  const walletButton = document.getElementById("wallet-button");

  walletButton.addEventListener("click", () => scrollTo("sdk-page"));

  const walletMobileButton = document.getElementById("wallet-mobile-button");

  walletMobileButton.addEventListener("click", () => scrollTo("sdk-page"));

  const socialMarketButton = document.getElementById("names-behind-button");

  socialMarketButton.addEventListener("click", () =>
    scrollTo("investors-page")
  );

  const socialMarketMobileButton = document.getElementById(
    "names-behind-mobile-button"
  );

  socialMarketMobileButton.addEventListener("click", () =>
    scrollTo("investors-page")
  );

  // const tomoIDButton = document.getElementById("tomoID-button");

  // tomoIDButton.addEventListener("click", () => scrollTo("tomoID"));

  // const tomoIDMobileButton = document.getElementById("tomoID-mobile-button");

  // tomoIDMobileButton.addEventListener("click", () => scrollTo("tomoID"));

  // const visionProButton = document.getElementById("visionPro-button");

  // visionProButton.addEventListener("click", () => scrollTo("visionPro"));

  // const visionProMobileButton = document.getElementById(
  //   "visionPro-mobile-button"
  // );

  // visionProMobileButton.addEventListener("click", () => scrollTo("visionPro"));

  // const pointsButton = document.getElementById("points-button");

  // pointsButton.addEventListener("click", () => scrollTo("points"));

  // const pointsMobileButton = document.getElementById("points-mobile-button");

  // pointsMobileButton.addEventListener("click", () => scrollTo("points"));
</script>

<header
  class="first-container nav-container fixed right-0 left-0 z-30 h-16 md:h-20 py-[18px] mdl:py-0 mdl:px-6 mdl:flex xl:px-[80px]"
>
  <Astronav class="w-full">
    <div class="flex w-full items-center justify-center mdl:justify-between">
      <div class="flex items-center gap-24">
        <a href="/" class="text-lg flex items-center pl-4 mdl:pl-0 gap-[10px]">
          <img class="h-8" src="/images/logo.svg" alt="" />
          <!-- <span class="font-[Kufam] leading-none">TOMO Inc.</span> -->
        </a>
        <div class="gap-9 hidden mdl:flex">
          <div
            class="cursor-pointer hidden mdl:block"
            id="about-button"
            onclick="scrollTo"
          >
            <span class="font-['Helvetica'] text-normal text-base"
              >Telegram Bot</span
            >
          </div>
          <div
            class="cursor-pointer hidden mdl:block"
            id="investors-button"
            onclick="scrollTo"
          >
            <span class="font-['Helvetica'] text-normal text-base"
              >Tomo App</span
            >
          </div>
          <div class="cursor-pointer hidden mdl:block">
            <span
              class="font-['Helvetica'] text-normal text-base"
              id="tomoji-button"
              onclick="scrollTo">Extension</span
            >
          </div>
          <div class="cursor-pointer hidden md:block">
            <span
              class="font-['Helvetica'] text-normal text-base"
              id="wallet-button"
              onclick="scrollTo">SDK Solutions</span
            >
          </div>
          <div class="cursor-pointer hidden md:block">
            <span
              class="font-['Helvetica'] text-normal text-base"
              id="names-behind-button"
              onclick="scrollTo">Names Behind</span
            >
          </div>
        </div>
      </div>

      <div class="block mdl:hidden pr-4 absolute left-5" id="asd">
        <MenuIcon class="w-5 h-5 text-gray-800" />
      </div>

      <div class="hidden mdl:flex items-center gap-4">
        <a
          href="https://docs.tomo.inc/"
          target="_blank"
          class="cursor-pointer hidden mdl:flex md:w-[103px] justify-center items-center border border-solid border-[#121212] bg-black text-white text-base h-12 p-2 px-4 rounded-md felx gap-1"
        >
          Docs
        </a>
        <ConnectMenu client:load className="hidden mdl:flex" />
      </div>
    </div>
    <div id="menu-items" class="mdl:hidden">
      <MenuItems
        class="hidden h-screen w-screen bg-[#FCEFEB] mdl:w-auto mt-2 mdl:flex mdl:mt-0 text-base leading-[22px] text-[#010639] tracking-[0.5px] font-bold px-5"
      >
        <ul class="flex flex-col pt-12 mdl:hidden gap-12">
          {
            menuitems.map((item, index) => (
              <>
                <li>
                  <div
                    id={item.id}
                    onclick="scrollTo"
                    class={`flex lg:px-3  text-[#010639] tracking-[0.5px] hover:text-gray-600 justify-start font-[Helvetica]`}
                  >
                    {item.title}
                  </div>
                </li>
              </>
            ))
          }
        </ul>
        <div
          class="mdl:hidden h-14 font-[Helvetica] border-t-[1px] border-solid border-[#595959] mt-4 pt-8 flex justify-center gap-5 pb-8"
        >
          <a
            href="https://pro.tomo.inc/"
            target="_blank"
            class="cursor-pointer w-[calc((100%-20px)/2)] h-12 flex mdl:hidden md:w-32 justify-center items-center border border-solid border-[#121212] bg-black text-white text-base p-2 px-4 rounded-md felx gap-1"
          >
            Docs
          </a>
          <ConnectMenu client:load className="'mdl:hidden flex flex-1" />
        </div>
      </MenuItems>
    </div>
  </Astronav>
</header>
