---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "About",
    id: "about-mobile-button",
  },
  {
    title: "Our Backers",
    id: "investors-mobile-button",
  },
  {
    title: "Tomoji",
    id: "tomoji-mobile-button",
  },
  {
    title: "Tomo Wallet",
    id: "wallet-mobile-button",
  },
  {
    title: "Social Capital Market",
    id: "socialMarket-mobile-button",
  },
  {
    title: "Tomo ID",
    id: "tomoID-mobile-button",
  },
  // {
  //   title: "Tomo Vision",
  //   id: "visionPro-mobile-button",
  // },
  {
    title: "Tomo Points",
    id: "points-mobile-button",
  },
];
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener("scroll", function () {
      var height = document.querySelector(".first-container").clientHeight;
      var scrollTop = window.scrollY || document.documentElement.scrollTop;

      var navContainer = document.querySelector(".nav-container");

      if (scrollTop >= height - 40) {
        navContainer.classList.add("bg-white", "drop-shadow-lg");
      } else {
        navContainer.classList.remove("bg-white", "drop-shadow-lg");
      }
    });
  });

  const scrollTo = (param) => {
    let anchorElement = document.getElementById(param);
    if (anchorElement) {
      anchorElement.scrollIntoView({ behavior: "smooth" });
    }
    // document.getElementById("menu-items").classList.toggle("hidden");
    var event = new MouseEvent("click", {
      view: window,
      bubbles: true,
      cancelable: true,
    });
    document.getElementById("asd").children[0].dispatchEvent(event);
  };

  const aboutButton = document.getElementById("about-button");

  aboutButton.addEventListener("click", () => scrollTo("about-page"));

  const aboutMobileButton = document.getElementById("about-mobile-button");

  aboutMobileButton.addEventListener("click", () => scrollTo("about-page"));

  const investorsMobileButton = document.getElementById(
    "investors-mobile-button"
  );

  investorsMobileButton.addEventListener("click", () =>
    scrollTo("investors-page")
  );

  const investorsButton = document.getElementById("investors-button");

  investorsButton.addEventListener("click", () => scrollTo("investors-page"));

  const tomojiButton = document.getElementById("tomoji-button");

  tomojiButton.addEventListener("click", () => scrollTo("tomoji"));

  const tomojiMobileButton = document.getElementById("tomoji-mobile-button");

  tomojiMobileButton.addEventListener("click", () => scrollTo("tomoji"));

  const walletButton = document.getElementById("wallet-button");

  walletButton.addEventListener("click", () => scrollTo("wallet-page"));

  const walletMobileButton = document.getElementById("wallet-mobile-button");

  walletMobileButton.addEventListener("click", () => scrollTo("wallet-page"));

  const socialMarketButton = document.getElementById("socialMarket-button");

  socialMarketButton.addEventListener("click", () => scrollTo("social-market"));

  const socialMarketMobileButton = document.getElementById(
    "socialMarket-mobile-button"
  );

  socialMarketMobileButton.addEventListener("click", () =>
    scrollTo("social-market")
  );

  const tomoIDButton = document.getElementById("tomoID-button");

  tomoIDButton.addEventListener("click", () => scrollTo("tomoID"));

  const tomoIDMobileButton = document.getElementById("tomoID-mobile-button");

  tomoIDMobileButton.addEventListener("click", () => scrollTo("tomoID"));

  const visionProButton = document.getElementById("visionPro-button");

  visionProButton.addEventListener("click", () => scrollTo("visionPro"));

  const visionProMobileButton = document.getElementById(
    "visionPro-mobile-button"
  );

  visionProMobileButton.addEventListener("click", () => scrollTo("visionPro"));

  const pointsButton = document.getElementById("points-button");

  pointsButton.addEventListener("click", () => scrollTo("points"));

  const pointsMobileButton = document.getElementById("points-mobile-button");

  pointsMobileButton.addEventListener("click", () => scrollTo("points"));
</script>

<header
  class="first-container nav-container fixed right-0 left-0 z-30 h-65 py-[18px] mdl:py-0 mdl:px-6 mdl:flex xl:px-[120px] bg-[rgba(255,255,255,0.97)] mdl:bg-white"
>
  <Astronav class="w-full">
    <div class="flex w-full items-center justify-between">
      <div class="flex items-center gap-24">
        <a href="/" class="text-lg flex items-center pl-4 mdl:pl-0">
          <img class="h-[30px] mdl:h-[28px]" src="/images/logo.svg" alt="" />
        </a>
        <div class="gap-9 hidden mdl:flex">
          <div
            class="cursor-pointer hidden mdl:block"
            id="about-button"
            onclick="scrollTo"
          >
            <span
              class="font-['PopinsMedium'] text-normal text-base font-medium"
              >About</span
            >
          </div>
          <div
            class="cursor-pointer hidden mdl:block"
            id="investors-button"
            onclick="scrollTo"
          >
            <span
              class="font-['PopinsMedium'] text-normal text-base font-medium"
              >Our Backers</span
            >
          </div>
          <div class="cursor-pointer hidden mdl:block">
            <span
              class="font-['PopinsMedium'] text-normal text-base font-medium"
              id="tomoji-button"
              onclick="scrollTo">Tomoji</span
            >
          </div>
          <div class="cursor-pointer hidden md:block">
            <span
              class="font-['PopinsMedium'] text-normal text-base font-medium"
              id="wallet-button"
              onclick="scrollTo">Wallet</span
            >
          </div>
          <div class="cursor-pointer hidden md:block">
            <span
              class="font-['PopinsMedium'] text-normal text-base font-medium"
              id="socialMarket-button"
              onclick="scrollTo">Social Market</span
            >
          </div>
          <div class="cursor-pointer hidden md:block">
            <span
              class="font-['PopinsMedium'] text-normal text-base font-medium"
              id="tomoID-button"
              onclick="scrollTo">Tomo ID</span
            >
          </div>
          <!-- <div class="cursor-pointer hidden md:block">
            <span
              class="font-['PopinsMedium'] text-normal text-base font-medium"
              id="visionPro-button"
              onclick="scrollTo">Vision Pro</span
            >
          </div> -->
          <div class="cursor-pointer hidden md:block">
            <span
              class="font-['PopinsMedium'] text-normal text-base font-medium"
              id="points-button"
              onclick="scrollTo">Points</span
            >
          </div>
        </div>
      </div>

      <div class="block mdl:hidden pr-4" id="asd">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>

      <div class="hidden mdl:flex items-center gap-4">
        <a
          href="https://id.tomo.inc/tomo"
          target="_blank"
          class="cursor-pointer hidden mdl:flex border border-solid border-[#121212] text-sm p-2 px-4 rounded-full felx gap-1"
        >
          Tomo ID
        </a>
        <a
          href="https://pro.tomo.inc/"
          target="_blank"
          class="cursor-pointer hidden mdl:flex border border-solid border-[#121212] bg-black text-white text-sm p-2 px-4 rounded-full felx gap-1"
        >
          Launch App
        </a>
      </div>
    </div>
    <div id="menu-items">
      <MenuItems
        class="hidden w-screen mdl:w-auto mt-2 mdl:flex mdl:mt-0 text-base leading-[22px] text-[#010639] tracking-[0.5px] font-bold bg-[rgba(255,255,255,0.97)] px-5"
      >
        <ul class="flex flex-col items-center mt-4 mdl:hidden">
          {
            menuitems.map((item, index) => (
              <>
                <li>
                  <div
                    id={item.id}
                    onclick="scrollTo"
                    class={`flex lg:px-3 py-4 text-[#010639] tracking-[0.5px] hover:text-gray-600 justify-start font-['PopinsMedium']`}
                  >
                    {item.title}
                  </div>
                </li>
              </>
            ))
          }
        </ul>
        <div
          class="mdl:hidden font-['PopinsMedium'] px-6 border-t-[1px] border-solid border-[#F2F2F2] mt-4 pt-8 flex justify-center gap-8 pb-8"
        >
          <a
            href="https://id.tomo.inc/tomo"
            target="_blank"
            class="cursor-pointer border border-solid border-[#121212] text-sm leading-[18px] p-2 px-4 rounded-full felx gap-1"
          >
            TomoID
          </a>
          <a
            href="https://pro.tomo.inc/"
            target="_blank"
            class="cursor-pointer border border-solid border-[#121212] bg-black text-white text-sm leading-[18px] p-2 px-4 rounded-full felx gap-1"
          >
            Launch App
          </a>
        </div>
      </MenuItems>
    </div>
  </Astronav>
</header>
