---
import CenterContainer from "../centerContainer.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener("scroll", function () {
      var height = document.querySelector(".first-container").clientHeight;
      var scrollTop = window.scrollY || document.documentElement.scrollTop;

      var navContainer = document.querySelector(".nav-container");

      if (scrollTop >= height - 40) {
        navContainer.classList.add("bg-white", "drop-shadow-lg");
      } else {
        navContainer.classList.remove("bg-white", "drop-shadow-lg");
      }
    });
  });
</script>

<header
  class="first-container nav-container fixed right-0 left-0 z-30 h-65 py-8 px-6"
>
  <CenterContainer
    class="h-full flex flex-col md:flex-row justify-between items-center"
  >
    <Astronav>
      <div class="flex w-full items-center justify-between">
        <a href="/" class="text-lg flex items-center">
          <img class="w-[44px] h-[32px]" src="/images/logo.svg" alt="" />
          <span
            class="font-['NeueHaas'] pl-1.5 text-normal text-[20px] tracking-3"
            >TOMO</span
          >
        </a>
        <div class="flex items-center gap-2">
          <a
            href="https://docs.tomo.inc"
            target="_blank"
            class="cursor-pointer hidden md:flex bg-[#E1D6F9] px-[15px] py-[5px] rounded-[20px]"
          >
            <span
              class="font-['NeueHaas'] text-normal text-[20px] tracking-0.65"
              >Doc</span
            >
          </a>
          <a
            href="https://twitter.com/tomo_social"
            target="_blank"
            class="cursor-pointer hidden md:flex bg-[#D6FF7E] px-[15px] py-[5px] rounded-[20px]"
          >
            <span
              class="font-['NeueHaas'] text-normal text-[20px] tracking-0.65 mr-1"
              >Say Hi On</span
            >
            <img width="18" height="18" src="/images/twitter.svg" alt="" />
          </a>
        </div>
      </div>
    </Astronav>
  </CenterContainer>
</header>
