---
import CenterContainer from "../centerContainer.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Go to App",
    path: "https://m.tomo.inc/x@tomo_social",
  },
  {
    title: "Docs",
    path: "https://docs.tomo.inc",
  },
  {
    title: "Tomolink",
    path: "https://id.tomo.inc/tomo",
  },
  {
    title: "Instagram",
    path: "https://www.instagram.com/tomoinc/",
  },
  {
    title: "X",
    path: "https://twitter.com/tomo_social",
  },
];
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener("scroll", function () {
      var height = document.querySelector(".first-container").clientHeight;
      var scrollTop = window.scrollY || document.documentElement.scrollTop;

      var navContainer = document.querySelector(".nav-container");

      if (scrollTop >= height - 40) {
        navContainer.classList.add("bg-white", "drop-shadow-lg");
      } else {
        navContainer.classList.remove("bg-white", "drop-shadow-lg");
      }
    });
  });
</script>

<header
  class="first-container nav-container fixed right-0 left-0 z-30 h-65 md:py-8 md:px-6 bg-[rgba(255,255,255,0.97)] md:bg-white"
>
  <CenterContainer
    class="h-full flex flex-col md:flex-row justify-between items-center p-5 md:p-0"
  >
    <Astronav>
      <div class="flex w-full items-center justify-between">
        <a href="/" class="text-lg flex items-center">
          <img class="h-[30px] md:h-[35px]" src="/images/logo.svg" alt="" />
        </a>
        <div class="block md:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>

        <div class="hidden md:flex items-center gap-2">
          <span
            class="font-['SofiaProRegular'] text-normal text-[20px] tracking-0.65 mr-1"
            >Say Hi On</span
          >
          <a
            href="https://id.tomo.inc/tomo"
            target="_blank"
            class="cursor-pointer hidden md:flex bg-[#D6FF7E] px-[15px] py-[5px] rounded-[20px] felx gap-1"
          >
            <img height="24" src="/images/tomo_link.svg" alt="" />
            <span
              class="font-['SofiaProRegular'] text-normal text-[20px] tracking-0.65"
              >TomoID</span
            >
          </a>
          <a
            href="https://twitter.com/tomo_social"
            target="_blank"
            class="cursor-pointer hidden md:flex bg-[#D6FF7E] px-[15px] py-[5px] rounded-[20px] felx gap-1"
          >
            <img width="36" height="24" src="/images/twitter.svg" alt="" />
            <span
              class="font-['SofiaProRegular'] text-normal text-[20px] tracking-0.65"
              >X</span
            >
          </a>
          <a
            href="https://www.instagram.com/tomoinc/"
            target="_blank"
            class="cursor-pointer hidden md:flex bg-[#D6FF7E] px-[15px] py-[5px] rounded-[20px] felx gap-1"
          >
            <img width="24" height="24" src="/images/instagram.svg" alt="" />
            <span
              class="font-['SofiaProRegular'] text-normal text-[20px] tracking-0.65"
              >Instagram</span
            >
          </a>
        </div>
      </div>
      <MenuItems
        class="hidden w-screen md:w-auto mt-2 md:flex md:mt-0 text-base leading-[22px] text-[#010639] tracking-[0.5px] font-bold bg-[rgba(255,255,255,0.97)] px-5"
      >
        <ul class="flex flex-col md:flex-row md:hidden">
          {
            menuitems.map((item, index) => (
              <>
                <li>
                  <a
                    target="_blank"
                    href={item.path}
                    class={`flex lg:px-3 py-2.5 text-[#010639] tracking-[0.5px] hover:text-gray-600 justify-start font-['SofiaProRegular']`}
                  >
                    {item.title}
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </CenterContainer>
</header>
