---
import CenterContainer from "./centerContainer.astro";
---

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({ duration: 1000 });
</script>

<div id="about-page"></div>
<main class="h-[unset] pt-24 smd:pt-32 relative sm:bg-cover" data-aos="fade-up">
  <CenterContainer
    class="w-full flex flex-col mdl:flex-row justify-center gap-8 mdl:gap-[40px] lg:gap-[100px] items-center md:flex px-4"
  >
    <div class="flex flex-col items-start gap-7 mdl:gap-8 font-[Helvetica]">
      <div class="flex flex-col items-start">
        <span
          class="lg:text-[60px] mdl:text-6xl md:text-5xl text-4xl font-medium leading-none text-normal"
          >Tomo</span
        >
        <div
          class="flex items-center lg:text-[60px] mdl:text-6xl md:text-5xl text-4xl font-medium leading-none text-normal"
        >
          <span class="text-primary">Telegram{" "}</span>
          <span> Wallet</span>
        </div>
      </div>
      <div class="mdl:max-w-[454px] md:max-w-[300px] text-sm mdl:text-base">
        Earn on the go with Tomo Bot- this lightweight, multichain wallet keeps
        you effortlessly ahead.
      </div>
      <a
        href="https://t.me/tomowalletbot"
        target="_blank"
        class="cursor-not-allowed bg-[#F21F7F] font-semibold text-white p-3 px-4 rounded-lg text-center text-base flex items-center gap-[10px]"
      >
        <img src="/images/launch-icon.svg" />
        Launch
      </a>
    </div>
    <img
      src="/images/about-right.png"
      class="max-w-[390px] mdl:max-w-[530px]"
    />

    <!-- <div
      class="text-center font-['PopinsSemiBold'] text-[28px] md:text-5xl leading-[120%] mb-3 md:mb-4"
    >
      About Tomo
    </div>
    <div
      class="text-center font-['PopinsNormal'] text-[rgba(18,18,18,0.75)] font-normal text-sm md:text-lg mb-4 md:mb-7"
    >
      Tomo is an all-in-one Web3 social wallet designed to bring the mass
      adoption of crypto. It allows users to log in effortlessly with their
      social accounts and supports multiple chains, with a particular emphasis
      on bringing Bitcoin into Ethereum L2, Solana and Cosmos ecosystems.
    </div>
    <div
      class="text-center font-['PopinsNormal'] text-[rgba(18,18,18,0.75)] font-normal text-sm md:text-lg mb-4 md:mb-7"
    >
      On Tomo, users can easily manage assets, send crypto to each other, chat,
      post content, make friends, and participate in token-based interest
      groups. They can also on-ramp fiat currency with a credit card, trade
      crypto assets, create Tomojis, and more. Designed to be a comprehensive
      power app, Tomo meets all your Web3 needs.
    </div>
    <img src="/images/about-img-1.svg" class="hidden md:flex mb-8" />
    <img src="/images/about-img-3.svg" class="md:hidden flex mb-8" />
    <img src="/images/about-img-2.svg" class="flex w-40 md:w-[unset]" /> -->
  </CenterContainer>
</main>
