---
import CenterContainer from "./centerContainer.astro";
---

<main
  class="w-full mt-[45px] px-6 md:mt-[82px] md:mb-[72px]"
  data-aos="fade-up"
>
  <CenterContainer>
    <div
      class="lg:max-w-[1185px] px-[20px] rounded-2xl bg-[#f7f3fd] flex flex-col md:flex-row gap-5 md:gap-11"
    >
      <div
        class="flex flex-col md:w-[500px] gap-[20px] font-['NeueHaas'] pt-[28px] md:pt-[102px] md:pl-[80px]"
      >
        <div
          class="font-normal text-[36px] md:text-[48px] text-[#1F2024] leading-[1.2] tracking-[2.4px]"
        >
          Discover great things with our app
        </div>
        <div
          class="text-[16px] md:text-[20px] tracking-[0.8px] md:tracking-[1px] leading-[1.5]"
        >
          Let fans and KOLs work together to operate video accounts for mutual
          benefit and win-win
        </div>
        <div class="flex gap-5 justify-start">
          <img
            class="max-h-[39px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[52px]"
            src="/images/google-play.svg"
            alt=""
          />
          <img
            class="max-h-[39px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[52px]"
            src="/images/app-store.svg"
            alt=""
          />
        </div>
      </div>
      <img
        class="max-w-[287px] md:max-w-[573px]"
        src="/images/iphone-group-img.png"
        alt=""
      />
    </div>
  </CenterContainer>
</main>
