---
import CenterContainer from "./centerContainer.astro";
---

<div id="erc-4337"></div>
<main class="w-full mt-[45px] px-6 sm:px-0 sm:mt-[90px]">
  <CenterContainer>
    <div
      class="flex flex-col-reverse justify-center gap-[32px] sm:gap-[50px] md:flex-row w-full"
    >
      <img
        data-aos="fade-up"
        class="w-[508px]"
        src="/images/erc-4337.png"
        alt=""
      />
      <div
        data-aos="fade-up"
        class="flex flex-col justify-center w-full md:w-[377px]"
      >
        <div
          class="font-['NeueHaas'] leading-[150%] sm:leading-[60px] tracking-1.8 sm:tracking-2.6 text-[36px] sm:text-[52px] text-normal mb-[16px] sm:mb-[25px]"
        >
          ERC-4337 smart contract wallets
        </div>
        <div
          class="font-['NeueHaas'] leading-[150%] tracking-0.7 text-sm text-normal mb-[32px] sm:mb-[50px]"
        >
          To this end, we have developed a set of more secure and easy-to-use
          web3 wallets!
        </div>
        <div
          class="flex flex-col gap-[15px] font-['NeueHaas500'] leading-[125%] tracking-0.8 text-base text-normal"
        >
          <div class="flex items-start gap-[10px]">
            <img src="/images/right.svg" alt="" />
            <span>A more reasonable account recovery solution</span>
          </div>
          <div class="flex items-start gap-[10px]">
            <img src="/images/right.svg" alt="" />
            <span>Less gas fee expenditure</span>
          </div>
          <div class="flex items-start gap-[10px]">
            <img src="/images/right.svg" alt="" />
            <span>It's still safe and transparent!</span>
          </div>
        </div>
      </div>
    </div>
  </CenterContainer>
</main>
