---
import CenterContainer from "./centerContainer.astro";
import Carousel from "./react/carousel";
import InfiniteLooper from "./react/infiniteLooper";
---

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({ duration: 1000 });
</script>

<div id="tomoji"></div>
<main
  class="mt-[100px] md:mt-40 pt-[67px] md:pt-0 bg-[#121212]"
  data-aos="fade-up"
>
  <CenterContainer
    class="px-4 flex flex-col-reverse md:flex-row items-center md:justify-between gap-[45px] md:gap-[165px]"
  >
    <Carousel />
    <div
      class="flex flex-col justify-center items-start gap-7 md:gap-8 font-[Helvetica] leading-none text-white"
    >
      <span class="text-4xl md:text-[60px] font-medium">Tomo App</span>
      <span class="max-w-[454px] text-sm md:text-base">
        Connect, trade, and earn through your all-in-one Web3 social wallet.</span
      >
      <div class="flex flex-wrap max-w-[400px] gap-4">
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=tomo.app.unyx"
        >
          <img
            class="max-w-[165px] max-h-[44px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
            src="/images/google-play.svg"
            alt=""
          />
        </a>
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://apps.apple.com/us/app/tomo-inc/id6468010287"
        >
          <img
            class="max-w-[165px] max-h-[44px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
            src="/images/app-store.svg"
            alt="app store"
          />
        </a>
        <a
          class="cursor-pointer"
          target="_blank"
          href="https://pub-6c52100fa9ac41f681f0713eac878541.r2.dev/app-prod-release.apk"
        >
          <img
            class="max-w-[179px] max-h-[44px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
            src="/images/android.svg"
            alt="apk"
          />
        </a>
      </div>
    </div>
  </CenterContainer>
  <!-- <div
    class="hidden md:block w-[256px] h-[445px] absolute z-20 left-0"
    style="background-image: linear-gradient(268deg, rgba(255, 255, 255, 0.00) 16.7%, #FFF 84.54%);"
  >
  </div>

  <div
    class="hidden md:block w-[256px] h-[445px] absolute z-20 right-0"
    style="background-image: linear-gradient(82deg, rgba(255, 255, 255, 0.00) 16.7%, #FFF 84.54%);"
  >
  </div> -->
  <!-- <InfiniteLooper speed={20} direction="left" client:load>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-3.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg2.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-4.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg4.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-5.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg6.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-6.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg3.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-1.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
  </InfiniteLooper>
  <InfiniteLooper speed={20} direction="right" client:load>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg3.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-1.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg1.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-8.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg5.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-2.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg8.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/dragon-img-7.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
    <div class="contentBlock contentBlock--one">
      <img
        src="/images/egg7.gif"
        class="h-[100px] md:h-[200px] max-h-[306px] flex-1 mr-2.5 md:mr-5 rounded-[10px]"
      />
    </div>
  </InfiniteLooper> -->
</main>
