---
import Icon from "./ui/icon.astro";
import Link from "./ui/link.astro";
import CenterContainer from "./centerContainer.astro";
---

<main
  class="w-full mb-[20px] md:mb-[65px] mt-[30px] sm:mt-[50px] md:mt-[60px] px-6 sm:px-0"
>
  <CenterContainer class="flex flex-col gap-[16px]">
    <div
      class="flex !flex-col md:!flex-row gap-[32px] sm:gap-[50px] sm:flex-row sm:justify-between"
    >
      <div
        class="flex flex-col justify-start font-['NeueHaas'] text-base text-normal gap-[20px]"
      >
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href="/" class="text-lg flex items-center">
            <img class="w-[44px] h-[32px]" src="/images/logo.svg" alt="" />
            <span
              class="font-['NeueHaas'] pl-1.5 text-normal text-[20px] tracking-3"
              >TOMO</span
            >
          </a>
        </div>
        <div
          class="flex flex-col gap-[15px] text-sm text-normal leading-[22px] tracking-0.7 font-['NeueHaas']"
        >
          <div>
            Transforming How Influencers and <br />Followers Connect in Web3.
          </div>
          <a
            class="flex items-center gap-[10px] w-fi hover:text-pink"
            target="_blank"
            href=""
          >
            Go to app
            <img
              class="cursor-pointer w-4 h-4"
              src="/images/out-arrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="flex gap-[35px] sm:gap-[80px] items-start">
        <div class="flex flex-col gap-[20px] font-['NeueHaas']">
          <div
            class="mb-[4px] text-sm text-normal leading-[18px] tracking-0.7 font-['NeueHaasBold']"
          >
            TOMO
          </div>
          <a
            target="_blank"
            href=""
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            products
          </a>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            our partners
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            Team
          </div>
        </div>
        <div class="flex flex-col gap-[20px] font-['NeueHaas']">
          <div
            class="mb-[4px] text-sm text-normal leading-[18px] tracking-0.7 font-['NeueHaasBold']"
          >
            For Developers
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            Forum
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            Snapshot
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            Docs
          </div>
        </div>
        <div class="flex flex-col gap-[20px] font-['NeueHaas']">
          <div
            class="mb-[4px] text-sm text-normal leading-[18px] tracking-0.7 font-['NeueHaasBold']"
          >
            Resources
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            Medium
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            Telegram
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            X
          </div>
        </div>
        <div class="flex-col gap-[20px] font-['NeueHaas'] hidden sm:flex">
          <div
            class="mb-[4px] text-sm text-normal leading-[18px] tracking-0.7 font-['NeueHaasBold']"
          >
            Legal
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            Terms of Service
          </div>
          <div
            class="text-[13px] leading-[18px] text-normal tracking-0.65 cursor-pointer hover:text-pink"
          >
            Privacy Policy
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full flex items-center justify-center gap-[8.5px] sm:hidden text-pink font-['NeueHaas'] text-sm leading-[18px] tracking-0.7 font-[450]"
    >
      <a class="cursor-pointer" target="_blank" href="">Terms of Service</a>
      <span class="inline-block w-[1px] h-[12px] bg-pink"></span>
      <a class="cursor-pointer" target="_blank" href="">Privacy Policy</a>
    </div>
    <div
      class="text-center w-full text-sm text-normal leading-[18px] tracking-0.7 font-['NeueHaas'] sm:mt-[120px]"
    >
      Copyright: @2023 Unxy Inc. All Rights Reserved.
    </div>
  </CenterContainer>
</main>
