---
import CenterContainer from "./centerContainer.astro";
---

<script>
  document
    .getElementById("termsLink")
    .setAttribute("href", `${location.origin}/terms`);
  document
    .getElementById("privacyLink")
    .setAttribute("href", `${location.origin}/privacy`);
</script>
<main
  class="w-full pb-[64px] md:pb-0 md:mt-[100px] px-6 md:px-0 relative md:bg-black"
>
  <CenterContainer class="flex flex-col gap-[16px] md:hidden">
    <div class="flex flex-col gap-5 items-start md:hidden mb-20">
      <a href="/" class="text-lg flex items-center">
        <img class="h-[31px]" src="/images/logo.svg" alt="" />
      </a>
      <div class="flex w-full gap-20">
        <div class="flex flex-col gap-2">
          <a
            href="https://m.tomo.inc/x@tomo_social"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span
              class="font-['SofiaProRegular'] text-normal text-[16px] tracking-0.8"
              >Go to App</span
            >
          </a>
          <a
            href="https://docs.tomo.inc"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span
              class="font-['SofiaProRegular'] text-normal text-[16px] tracking-0.8"
              >Docs</span
            >
          </a>
        </div>
        <div class="flex flex-col gap-2">
          <a
            href="https://www.instagram.com/tomoinc/"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span
              class="font-['SofiaProRegular'] text-normal text-[16px] tracking-0.8"
              >Instagram</span
            >
          </a>
          <a
            href="https://hoo.be/tomo"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span
              class="font-['SofiaProRegular'] text-normal text-[16px] tracking-0.8"
              >Hoobee</span
            >
          </a>
          <a
            href="https://twitter.com/tomo_social"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span
              class="font-['SofiaProRegular'] text-normal text-[16px] tracking-0.8"
              >X</span
            >
          </a>
        </div>
      </div>
    </div>
    <div
      class="w-full flex items-center justify-center gap-[8.5px] text-pink font-['SofiaProRegular'] text-sm leading-[18px] tracking-0.7 font-[450]"
    >
      <a id="termsLink" class="cursor-pointer" target="_blank"
        >Terms of Service</a
      >
      <span class="inline-block w-[1px] h-[12px] bg-pink"></span>
      <a id="privacyLink" class="cursor-pointer" target="_blank"
        >Privacy Policy</a
      >
    </div>
    <div
      class="text-center w-full text-[12px] text-normal leading-[18px] tracking-0.7 font-['SofiaProRegular']"
    >
      Copyright: @2023 Tomo Inc. All Rights Reserved.
    </div>
  </CenterContainer>
  <CenterContainer class="hidden md:flex justify-between py-10">
    <div class="flex flex-col justify-between gap-40">
      <img src="/images/footer-logo.svg" alt="" />
      <span
        class="text-[12px] font-normal leading-[125%] tracking-[0.12px] text-[#EFF0F0] font-['SofiaProRegular']"
        >©2023 Tomo Inc. All rights reserved.</span
      >
    </div>
    <div class="flex gap-8">
      <div class="flex flex-col gap-2">
        <a
          href="https://www.instagram.com/tomoinc/"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['SofiaProRegular'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Instagram</span
          >
        </a>
        <a
          href="https://twitter.com/tomo_social"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['SofiaProRegular'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >X</span
          >
        </a>
        <a
          href="https://hoo.be/tomo"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['SofiaProRegular'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Hoobee</span
          >
        </a>
      </div>
      <div class="flex flex-col gap-2">
        <a
          href="https://docs.tomo.inc"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['SofiaProRegular'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Docs</span
          >
        </a>
      </div>
      <div class="flex flex-col gap-2">
        <a
          id="termsLink"
          target="_blank"
          class="cursor-pointer font-['SofiaProRegular'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
        >
          Terms of Service
        </a>
        <a
          id="privacyLink"
          target="_blank"
          class="cursor-pointer font-['SofiaProRegular'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
        >
          Privacy Policy
        </a>
      </div>
    </div>
  </CenterContainer>
</main>
