---
import CenterContainer from "./centerContainer.astro";
---

<main class="h-[unset] md:h-[730px] mt-[107px] md:mt-0 relative">
  <CenterContainer class="w-full flex flex-col-reverse md:block px-6">
    <div
      class="flex flex-col gap-[40px] justify-start md:w-[65%] md:translate-y-[50%]"
    >
      <h1
        class="font-['NeueHaas'] text-4xl md:text-64 tracking-1.8 md:tracking-3.2 leading-[150%] md:leading-[80px] text-center md:text-left"
      >
        Reshape how influencers and followers interact in the Web3 world.
      </h1>
      <span
        class="font-['NeueHaas'] text-normal text-base md:text-[20px] leading-[30px] md:!leading-[40.32px] tracking-0.8 md:tracking-1"
      >
        Embrace the Power: Vote, Trade, Chat, and Earn on Blockchain with
        ERC4337.</span
      >
      <div class="sm:mt-[18px] flex justify-center md:justify-start gap-5">
        <img
          class="max-w-[127.4px] max-h-[39px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[52px]"
          src="/images/google-play.svg"
          alt=""
        />
        <img
          class="max-w-[127.4px] max-h-[39px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[52px]"
          src="/images/app-store.svg"
          alt=""
        />
      </div>
    </div>
  </CenterContainer>
  <div class="md:absolute ml-10 md:right-[0] md:top-[130px] md:h-[841px] z-0">
    <img
      class="w-[100%] md:w-[unset] md:h-[100%] max-w-[unset] hidden md:block"
      src="/images/hero-img.png"
      alt=""
    />
    <img
      class="h-[670px] w-[100%] mt-12 md:w-[unset] md:h-[100%] max-w-[unset] md:hidden"
      src="/images/mobile-hero-img.png"
      alt=""
    />
  </div>
</main>
