---
import CenterContainer from "./centerContainer.astro";
---

<main class="h-[unset] md:h-[800px] mt-[107px] md:mt-0 relative">
  <CenterContainer class="w-full flex flex-col-reverse md:block px-[21px]">
    <div
      class="flex flex-col gap-[40px] justify-start md:w-[50%] md:translate-y-[47%] md:absolute md:z-10 md:t-[-20px]"
    >
      <h1
        class="font-['SofiaProSemiBold'] text-4xl md:text-7xl md:font-semibold tracking-1.8 md:tracking-3.2 leading-[150%] md:leading-[72px] text-center md:text-left"
      >
        New Tomo, <br />New Possibilities
      </h1>
      <span
        class="font-['SofiaProRegular'] text-normal text-base font-light md:text-[20px] leading-[30px] md:!leading-[40.32px] tracking-0.8 md:tracking-1"
      >
        Experience a fresh approach to creator exclusivity and content
        monetization on Tomo. Engage with your favorite creators through
        token-gated chat rooms and private feeds</span
      >
      <div class="flex flex-col">
        <span
          class="font-['SofiaProRegular'] text-normal text-base font-light md:text-[20px] leading-[36px] hidden md:block mb-[10px] tracking-1.2 md:tracking-1.2"
        >
          Download now on
        </span>
        <div class="flex justify-center md:justify-start gap-5">
          <a
            class="cursor-pointer"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=tomo.app.unyx"
          >
            <img
              class="max-w-[127.4px] max-h-[39px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[52px]"
              src="/images/google-play.svg"
              alt=""
            />
          </a>
          <a
            class="cursor-pointer"
            target="_blank"
            href="https://apps.apple.com/us/app/tomo-inc/id6468010287"
          >
            <img
              class="max-w-[127.4px] max-h-[39px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[52px]"
              src="/images/app-store.svg"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </CenterContainer>
  <div
    class="md:absolute ml-0 md:ml-10 flex justify-end md:right-[0] md:top-[10px] md:h-[841px] z-0"
  >
    <img
      class="w-[100%] md:w-[unset] md:h-[100%] max-w-[unset] hidden md:block"
      src="/images/hero-img.png"
      alt=""
    />
    <img
      class="mt-12 w-full lg:h-[100%] max-w-[unset] md:hidden"
      src="/images/mobile-hero-img.svg"
      alt=""
    />
  </div>
</main>
