---
import CenterContainer from "./centerContainer.astro";
---

<main class="h-[unset] md:h-[730px] mt-[107px] sm:mt-0 relative">
  <CenterContainer class="w-full flex flex-col-reverse md:block px-6">
    <div
      class="flex flex-col gap-5 sm:gap-10 justify-start sm:w-[55%] md:translate-y-[50%]"
    >
      <h1
        class="font-['NeueHaas'] text-4xl md:text-64 tracking-1.8 sm:tracking-3.2 leading-[150%] md:leading-[80px] text-center sm:text-left"
      >
        Create a new mode of video operation in the web3 world
      </h1>
      <span
        class="font-['NeueHaas'] text-normal text-base sm:text-2xl leading-[30px] sm:!leading-[40.32px] tracking-0.8 sm:tracking-1"
        >Let fans and KOLs work together to operate video accounts for mutual
        benefit and win-win</span
      >
      <div class="sm:mt-[18px] flex justify-center sm:justify-start gap-5">
        <img
          class="max-w-[127.4px] max-h-[39px] sm:max-w-[unset] sm:max-h-[unset] sm:w-[179px] sm:h-[52px]"
          src="/images/google-play.svg"
          alt=""
        />
        <img
          class="max-w-[127.4px] max-h-[39px] sm:max-w-[unset] sm:max-h-[unset] sm:w-[179px] sm:h-[52px]"
          src="/images/app-store.svg"
          alt=""
        />
      </div>
    </div>
  </CenterContainer>
  <div class="md:absolute ml-10 md:right-[0] md:top-[130px] md:h-[841px] z-0">
    <img
      class="w-[100%] md:w-[unset] md:h-[100%] max-w-[unset] hidden sm:block"
      src="/images/hero-img.svg"
      alt=""
    />
    <img
      class="h-[670px] w-[100%] mt-12 md:w-[unset] md:h-[100%] max-w-[unset] sm:hidden"
      src="/images/mobile-hero-img.svg"
      alt=""
    />
  </div>
</main>
