---
import CenterContainer from "./centerContainer.astro";
import { DownloadApp } from "./react/downloadApp";
---

<main
  class="backdrop-blur-sm mt-[65px] md:mt-[100px] mdl:mt-24 p-5 smd:p-10 md:p-20 lg:p-32 mx-5 md:mx-8 bg-cover sm:bg-cover bg-[unset] bg-[url('/images/mobile-bg-img.png')] md:bg-[url('/images/bg-img.png')] rounded-[20px]"
>
  <CenterContainer
    class="!max-w-[1385px] w-full flex flex-col md:flex-row px-[16px] !h-[unset] items-center mdl:gap-[100px] md:gap-20 smd:gap-10"
  >
    <div
      class="flex flex-col items-start justify-start md:t-[-20px] gap-6 md:gap-8 mt-56 md:mt-0"
    >
      <h1
        class="font-['Helvetica'] text-start text-[40px] md:text-6xl mdl:text-8xl font-bold tracking-1.8 md:tracking-3.2 leading-none md:text-start text-white"
      >
        Your Favorite<br />
        Crypto Social Wallet
        <!-- < br /> -->
      </h1>

      <div class="flex flex-col">
        <span
          class="font-['Helvetica'] text-white max-w-[310px] md:max-w-[400px] mdl:max-w-[592px] text-start text-base md:text-[18px] font-normal mdl:text-[20px] tracking-[-0.18px]"
        >
          The all-in-one wallet designed to bring the mass adoption…
        </span>
      </div>
      <DownloadApp client:load />
    </div>
    <img src="/images/hero-right.svg" class="hidden md:block w-2/5" />
  </CenterContainer>
</main>
