---
import { TestPage } from "../pages/test";
import CenterContainer from "./centerContainer.astro";
---

<main
  class="h-[765px] backdrop-blur-sm mt-[65px] md:mt-[122px] mx-5 md:mx-8 relative bg-cover sm:bg-cover"
>
  <img
    src="/images/bg-img.png"
    class="hidden md:block absolute top-0 left-0 right-0 bottom-0 w-full"
  />
  <img
    src="/images/mobile-bg-img.png"
    class="md:hidden absolute top-0 left-0 right-0 bottom-0 w-full"
  />
  <CenterContainer
    class="w-full flex flex-col md:block px-[16px] !h-[unset] items-center"
  >
    <div
      class="flex flex-col items-start justify-start translate-y-[80%] md:translate-y-[30%] absolute md:z-10 md:t-[-20px]"
    >
      <h1
        class="font-['Helvetica'] text-start text-[40px] md:text-8xl font-bold tracking-1.8 md:tracking-3.2 leading-[150%] md:leading-[120px] md:text-start text-white"
      >
        Your crypto
        <br />Social Wallet
      </h1>

      <div class="flex flex-col">
        <span
          class="font-['Helvetica'] text-white max-w-[310px] md:max-w-[592px] text-start text-base font-normal md:text-[20px] leading-[36px] mb-[10px] md:mb-[52px] tracking-1.2 md:tracking-[-0.18px]"
        >
          An all-in-one social wallet designed to bring the mass adoption of
          crypto, making it accessible and user-friendly for everyone.
        </span>
        <a
          href="https://pro.tomo.inc/"
          target="_blank"
          class="cursor-pointer bg-[#F21F7F] text-white p-3 px-4 rounded-lg w-[173px] text-center text-base"
        >
          Get the app
        </a>
        <!-- <div class="flex justify-center md:justify-start gap-5">
          <a
            class="cursor-pointer"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=tomo.app.unyx"
          >
            <img
              class="max-w-[140px] max-h-[40px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
              src="/images/google-play.svg"
              alt=""
            />
          </a>
          <a
            class="cursor-pointer"
            target="_blank"
            href="https://apps.apple.com/us/app/tomo-inc/id6468010287"
          >
            <img
              class="max-w-[140px] max-h-[40px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
              src="/images/app-store.svg"
              alt="app store"
            />
          </a>
          <a
            class="cursor-pointer md:block hidden"
            target="_blank"
            href="https://pub-6c52100fa9ac41f681f0713eac878541.r2.dev/app-prod-release.apk"
          >
            <img
              class="max-w-[140px] max-h-[40px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
              src="/images/android.svg"
              alt="apk"
            />
          </a>
          <a
            class="cursor-pointer md:block hidden"
            target="_blank"
            href="https://chromewebstore.google.com/detail/tomo-wallet/pfccjkejcgoppjnllalolplgogenfojk"
          >
            <img
              class="max-w-[140px] max-h-[40px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
              src="/images/chrome.svg"
              alt="chrome"
            />
          </a>
        </div>
        <div
          class="flex justify-center md:justify-start gap-5 mt-[16px] md:hidden"
        >
          <a
            class="cursor-pointer"
            target="_blank"
            href="https://pub-6c52100fa9ac41f681f0713eac878541.r2.dev/app-prod-release.apk"
          >
            <img
              class="max-w-[140px] max-h-[40px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
              src="/images/android.svg"
              alt="apk"
            />
          </a>

          <a
            class="cursor-pointer"
            target="_blank"
            href="https://chromewebstore.google.com/detail/tomo-wallet/pfccjkejcgoppjnllalolplgogenfojk"
          >
            <img
              class="max-w-[140px] max-h-[40px] md:max-w-[unset] md:max-h-[unset] md:w-[179px] md:h-[48px]"
              src="/images/chrome.svg"
              alt="chrome"
            />
          </a>
        </div> -->
      </div>
    </div>
    <img
      src="/images/hero-right.svg"
      class="hidden md:block w-1/4 absolute z-20 right-72 top-20"
    />
  </CenterContainer>
</main>
