---
import { Investor } from "./react/investor";
---

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({ duration: 1000 });
</script>

<div id="investors-page"></div>
<main
  class="h-[156px] mt-6 -z-10 md:mt-[50px] relative sm:bg-cover bg-background pb-10 md:pb-32"
  data-aos="fade-up"
>
  <Investor />
</main>
