---
import CenterContainer from "./centerContainer.astro";

const productList = [
  {
    title: "Vote & Pass Mechanism",
    icon: "/images/mechanism.png",
    firstText: "Experience the power of support on Tomo. ",
    desc: "On Tomo, users show their support for an influencer by holding his/her Votes. As ones voter base grows, it’s increasingly attractive for the influencer to join the platform and distribute the rewards among all the voters. Once an influencer is verified on Tomo, their vote automatically upgrades to a pass. This unlocks the ability for Pass holders to send direct messages and gain access to an exclusive prize pool.",
  },
  {
    title: "Proof of supporting",
    icon: "/images/proof.png",
    firstText:
      "Forge lasting connections with Tomo’s Proof of Supporting Mechanism. ",
    desc: "By holding a Vote or Pass, a blockchain-based contract is established between the follower and influencer, ensuring future interactions and shared profits.",
  },
  {
    title: "Followership Sharing Economy",
    icon: "/images/economy.png",
    firstText: "Redefining profit-Sharing with Tomo. ",
    desc: "We challenge the traditional followership model where influencers are the sole beneficiaries of profit, leaving their dedicated followers unrewarded. At Tomo, influencers and followers collaborate to maximize and share their earnings.",
  },
];
---

<div id="products"></div>
<main class="w-full mt-[-120px] md:mt-[100px] px-6 md:px-0">
  <CenterContainer>
    <div
      class="font-['NeueHaas'] text-[32px] md:text-[52px] tracking-3.2 leading-[60px] text-center mb-[20px] md:mb-[65px]"
    >
      Products
    </div>
    <div class="flex flex-col justify-between gap-4 md:flex-row w-full">
      {
        productList.map((item, index) => (
          <div
            class="flex-1 flex flex-col gap-5 justify-between font-['NeueHaas'] leading-[150%] bg-gray rounded-3xl px-7 pt-7"
            data-aos="fade-up"
          >
            <div class="text-2xl font-[450] tracking-1.2 font-['NeueHaas'] text-black text-center leading-[125%]">
              {item.title}
            </div>
            <div class="sm:mx-[10px] text-sm tracking-[0.2px] font-['NeueHaas'] text-black leading-[150%]">
              <span class="font-['NeueHaasBold']">{item.firstText}</span>
              {item.desc}
            </div>
            <img class="w-full" src={item.icon} alt="" />
          </div>
        ))
      }
    </div>
  </CenterContainer>
</main>
