---
import CenterContainer from "./centerContainer.astro";
const cardList = [
  {
    avatar: "/images/avatar-1.png",
    name: "Savannah Nguyen",
    title: "Co-founder",
    desc: "Been pushing people into crypto since he was born. Power broker, one of the most well-connected people in the industry.",
  },
  {
    avatar: "/images/avatar-2.png",
    name: "Dianne Russell",
    title: "Co-founder and CTO",
    desc: "Got his name for your convenience. Anonymous developer and early adopterin crypto before there was anything to adopt.",
  },
  {
    avatar: "/images/avatar-3.png",
    name: "Leslie Alexander",
    title: "Chief architect",
    desc: "Several decades of experience with top strategy consultancies, consulting to institutional investment managers.",
  },
  {
    avatar: "/images/avatar-4.png",
    name: "Darrell Steward",
    title: "Public team",
    desc: "Strong institutional background, payments, banks, insurance, asset management. Previously Swisscom Blockchain, EY.",
  },
];
---

<div id="team"></div>
<CenterContainer>
  <main class="w-full mt-[45px] md:mt-[80px] md:mb-[72px]" data-aos="fade-up">
    <div class="text-[52px] text-center font-normal">Team</div>
    <div
      class="card-wrapper flex flex-wrap gap-x-[7px] gap-y-[30px] md:gap-[35px] mt-[32px] md:mt-[62px] justify-center"
    >
      {
        cardList.map((item) => (
          <div class="card-item w-[160px] md:w-[270px] h-[298px] md:h-[348px] flex flex-col py-[20px] px-[10px] md:p-[20px] gap-[20px] justify-start items-center bg-[#F9F9F9] rounded-2xl">
            <img
              class="rounded-full w-[60px] md:w-[100px]"
              src={item.avatar}
              alt=""
            />
            <div class="flex flex-col items-center justify-start gap-[7px] font-['NeueHaas']">
              <div class="text-[14px] md:text-[18px] md:leading-[28px] font-[450]">
                {item.name}
              </div>
              <div class="text-[12px] md:text-[14px] md:leading-[24px] font-medium text-[#8967E7]">
                {item.title}
              </div>
              <div class="font-normal text-[12px] md:text-[14px] tracking-[0.7px] leading-[18px] md:leading-[24px] text-center">
                {item.desc}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</CenterContainer>
