---
import CenterContainer from "./centerContainer.astro";
---

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  AOS.init({ duration: 1000 });
</script>

<div id="tomoID"></div>
<main class="pt-[100px] md:pt-40" data-aos="fade-up">
  <CenterContainer class="px-4 flex flex-col items-center">
    <div class="flex flex-col items-center gap-3 md:gap-5 mb-5 md:mb-8">
      <span
        class="text-center font-['PopinsSemiBold'] text-[28px] md:text-5xl leading-[120%]"
      >
        Tomo ID</span
      >
      <span
        class="font-['PopinsNormal'] text-center text-[rgba(18,18,18,0.75)] font-normal text-sm md:text-lg"
        >It is a multifunctional social wallet designed for social media users,
        content creators and businesses
      </span>
    </div>
    <div
      class="flex flex-col md:flex-row gap-4 md:gap-8 max-w-[1080px] bg-white border border-solid border-[#F3F3F3] rounded-[20px] py-5 px-4 md:px-12 md:py-[42px]"
    >
      <div
        class="flex flex-col items-center md:items-start gap-4 md:gap-6 flex-1"
      >
        <span
          class="text-center font-['PopinsSemiBold'] text-[20px] md:text-[32px] leading-[120%]"
        >
          Manage and Monetize</span
        >
        <span
          class="font-['PopinsNormal'] text-[rgba(18,18,18,0.75)] font-normal text-sm md:text-lg"
          >TomoID is a multifunctional social wallet designed for social media
          users, content creators and businesses, combining a link-in-bio tool
          with referral capabilities and direct monetization. Users can place
          their unique TomoID in their social media bios, linking to a page with
          their profiles across all social platforms. A key feature is its
          affiliate program, enabling creators to earn crypto commissions from
          referrals and helping businesses attract new users. Commissions from
          purchases via TomoID go directly to the user's Tomo Wallet, aiding in
          monetizing online presence and managing affiliates.
        </span>
        <div class="flex gap-4 items-center">
          <a
            href="https://docs.tomo.inc/tomo-ecosystem/tomoid"
            target="_blank"
            class="cursor-pointer bg-black px-8 py-[9px] md:px-[30px] md:py-[15px] rounded-[40px] gap-1"
          >
            <span
              class="font-['PopinsNormal'] text-white text-sm md:text-base tracking-0.65"
              >Read More</span
            >
          </a>
          <a
            href="https://id.tomo.inc/tomo"
            target="_blank"
            class="cursor-pointer bg-white border border-solid px-8 py-[9px] md:px-[30px] md:py-[15px] rounded-[40px] gap-1"
          >
            <span
              class="font-['PopinsNormal'] text-black text-sm md:text-base tracking-0.65"
              >Tomo ID</span
            >
          </a>
        </div>
      </div>
      <img
        src="/images/tomo-id-img.svg"
        class="h-[200px] md:h-[unset] flex-1"
      />
    </div>
  </CenterContainer>
</main>
