@font-face {
  font-family: "NeueHaas";
  src: url("./fonts/NHaasGroteskDSPro-45Lt.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaas500";
  src: url("./fonts/NHaasGroteskDSPro-55Rg.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasBold";
  src: url("./fonts/NHaasGroteskDSPro-65Md.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProMedium";
  src: url("./fonts/SofiaProMedium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProRegular";
  src: url("./fonts/SofiaProRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaProSemiBold";
  src: url("./fonts/SofiaProSemiBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsExtraBold";
  src: url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSansMedium";
  src: url("./fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PopinsSemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PopinsNormal";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PopinsMedium";
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LibreCaslonBold";
  src: url("./fonts/LibreCaslonText-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "KufamBold";
  src: url("./fonts/Kufam-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Kufam";
  src: url("./fonts/Kufam-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaNeue.ttc") format("truetype");
}

@font-face {
  font-family: "Switer";
  src: url("./fonts/Switer-Regular.woff2") format("truetype");
}